:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --background-color: #f9f7fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-weight: bold;
  align-items: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.5;
}

a {
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.about-me {
  width: 100%;
  margin-bottom: 120px;
  padding: 220px 20px;
  background: var(--background-color);
}

.navbar {
  background: var(--background-color);
}

.collapse {
  justify-content: flex-end;
  margin-right: 70px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.about-apps {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 80px;
  opacity: 1;
}

.name-app {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 85px;
  text-align: left;
}

.app-links a {
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  background: var(--primary-color);
}

.start-link {
  border-radius: 10px;
  padding: 20px 40px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs p {
  margin: 30px 20px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.text-app {
  background: none;
  font-size: 16px;
  line-height: 30px;
  max-width: 530px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 22px;
    margin-top: 10px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .about-me {
    margin-bottom: 20px;
    padding: 100px 20px;
  }

  .about-apps {
    font-size: 14px;
    margin: 35px auto;
  }

  .name-app {
    font-size: 35px;
  }

  .text-app {
    font-size: 14px;
  }

  .app-links a {
    font-size: 14px;
    margin: 5px;
    border-radius: 4px;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .app-links {
    margin: 5px 0;
  }

  .navigation-links {
    margin: 0 auto;
  }

  .navigation-links a {
    padding: 15px;
    margin-bottom: 0;
  }

  .img-fluid {
    padding: 0;
  }

  .email-link {
    font-size: 18px;
  }

  .row {
    justify-content: center;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 76px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 96px;
  }
}
